#contact {
    background-image: url(/public/image/contactbg.png);
    background-size: 85% 80%;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 auto;
    border-radius: 45px;
    width: 100%;
    height: 130vh;
    display: flex;
    align-items: center;
}

.contact-img {
    height: 100%;
    left: 0%;
    overflow: hidden;
    position: absolute;
    width: 39%;
    align-self: flex-end;
}

.contact-title {
    color: orangered;
    display: ruby;

    .contact-title-first {
        text-align: center;
        font-size: 64px;
        margin: 10px auto;
    }

    .contact-title-second {
        text-align: center;
    }

    .contact-form {
        width: 66%;
        display: flex;
        flex-wrap: wrap;
        justify-self: flex-end;

        .contact-form-top {
            width: 100%;
            height: auto;
            display: flex;
            justify-content: space-between;
        }

            .contact-form-top-input {
                width: 350px;

                .contact-form-top-input-input {
                    width: 100%;
                    height: 48px;
                    border-radius: 10px;
                    padding: 0px 5px;
                    border-style: none;
                    border-color: none;
                }
            }
        

        .contact-form-middle {
            width: 100%;
            margin-top: 10px;
            .contact-form-middle-input {
                width: 100%;
                height: 48px;
                border-radius: 10px;
                padding: 0px 5px;
                border-style: none;
                border-color: none;
            }
        }

        .contact-form-bot {
            width: 100%;
            margin-top: 10px;

            .textare-contact {
                width: 100%;
                height: 150px;
                border-radius: 20px;
            }

            .contact-form-btn {
                width: 100%;
                margin-top: 10px;
                text-align: right;

                .btn-reload-info {
                    color: orangered;
                    font-size: 20px;
                    padding: 15px 17px;
                    width: 27%;
                    border-radius: 15px;
                    margin-right: 30px;
                    transition: all .6s linear;

                    &:hover {
                        background-color: blue;
                        color: white;
                    }
                }

                .btn-advice {
                    background-color: orangered;
                    color: white;
                    font-size: 20px;
                    padding: 15px 17px;
                    width: 23%;
                    border-radius: 15px;
                    margin-right: 0px;
                    transition: all .6s linear;

                    &:hover {
                        background-color: blue;
                    }
                }
            }
        }
    }
}



