#header {
    width: 100%;
    z-index: 200;
    position: relative;
}

.header-container {
    .container-header {
        min-height: 20px;
        padding: 21px 0px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;

        .search {
            .ic-search {
                color: white;
                position: absolute;
                display: flex;
                margin-left: 17px;
                margin-top: 17px;
            }

            .ip-search {
                padding-left: 40px;
                height: 48px;
                border-radius: 8px;
                background: none;
                width: 400px;
                border: solid white;
                margin-right: 45px;
            }

            .btn-search {
                padding: 10px;
                border-radius: 10px;
                width: 142px;
                height: 48px;
                color: rgb(255, 0, 0);
                font-weight: bold;
                transition: all .6s linear;

                &:hover {
                    background: blue;
                }
            }
        }
    }
}
::placeholder {
    color: rgb(255, 242, 242);
    opacity: 1;
}


ul {
    list-style: none;
}


input:focus {
    color: white;
    border: none;
}



.container-menu {
    padding: 26px 0;
    width: 100%;
    background-color: rgb(250, 250, 249);
    position: relative;
    display: flex;
    justify-content: center;

    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        font-size: 20px;

         a {
            color: orangered;
            font-weight: bold;
            transition: all .4s linear;
        }
    }
}